body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav{
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;

}
nav > h4, nav > h3{
  margin: 0;

}
nav > h3{
  margin-right: auto;
  color: rgb(33, 197, 212);
  font-weight: 700;
}
nav > h4{
  margin-right: 9px;
}
.rea{
  width: 50px;


}
.fu{
  font-weight: bold;
  padding: 20px;
}
.ull > ol{
  margin-right: 40px;
  

}